streamlit          
requests          
beautifulsoup4          
pandas          
numpy          
scikit-learn          
pmdarima          
statsmodels          
scipy          
matplotlib          
yfinance          
huggingface-hub         
PyPDF2   
